@model SiacWeb.Models.ViewModels.TransportadoraFormViewModel

@{
    ViewData["Title"] = "Transportadora";
}

<h2>@ViewData["Title"]</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Transportadora.Id):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Transportadora.Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Transportadora.RazaoSocial):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Transportadora.RazaoSocial)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Transportadora.CNPJ):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Transportadora.CNPJ)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Transportadora.CPF):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Transportadora.CPF)
                    </dd>
                </dl>
            </div>
        </div>

        <hr />
        <div class="text-center">
            <h3 class="text-danger">Deseja excluir o registro?</h3>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Transportadora.Id" />
                <a asp-action="Index" class="btn btn-default btn-sm">Cancelar</a>
                <input type="submit" value="Excluir" class="btn btn-primary btn-sm" />
            </form>
        </div>

    </div>
</div>