@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using SiacWeb.Comum;

@model IEnumerable<object>

<hr />
<div class="row">
    <div class="col-md-8">
        <span class="pull-left">
            @{
                @(
                    (Model as IPagedList).TotalItemCount > Constantes.QuantidadeRegistrosPorPagina ?
                    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina, produtoId = ViewBag.produtoId, consulta = ViewData["Consulta"] }))
                    :
                    null
                );
            }
        </span>
    </div>
    <div class="col-md-4">
        <span class="pull-right">
            <a class="text-primary">
                @((Model as IPagedList).FirstItemOnPage) a @((Model as IPagedList).LastItemOnPage) de @((Model as IPagedList).TotalItemCount) Registro(s)
            </a>
        </span>
    </div>
</div>
