@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IEnumerable<SiacWeb.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
    ViewData["Create"] = "Nova Empresa";
    ViewData["Rodape"] = "Empresa(s)";
}

<h2>@ViewData["Title"]</h2>


<hr />
<div class="navbar-btn">
    <div class="navbar-left navbar-left">
        <div class="form-group">
            <a asp-action="Create" class="btn btn-primary btn-sm">@ViewData["Create"]</a>
        </div>
    </div>
</div>
<div class="navbar-form">
    <form class="navbar-right navbar-right">
        <div class="input-group">
            <input type="text" name="consulta" value=@ViewData["Consulta"] class="form-control input-sm" placeholder="Digite sua pesquisa" style="font-style:italic">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success btn-sm">Consultar</button>
            </span>
        </div>
    </form>
</div>


<table class="table table-striped table-striped">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    <div class="text-right">
                        <a asp-action="Details" class="btn btn-success btn-xs" asp-route-id="@item.Id">Visualizar</a>
                        <a asp-action="Edit" class="btn btn-warning btn-xs" asp-route-id="@item.Id">Alterar</a>
                        <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.Id">Excluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<hr />
<div class="row">
    <div class="col-md-8">
        @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina, consulta = ViewData["Consulta"] }))
    </div>
    <div class="col-md-4">
        <span class="pull-right">
            <p class="text-primary">@((Model as IPagedList).FirstItemOnPage) a @((Model as IPagedList).LastItemOnPage) de @((Model as IPagedList).TotalItemCount) @ViewData["Rodape"]</p>
        </span>
    </div>
</div>