@using SiacWeb.Comum
@model SiacWeb.Models.ViewModels.UsuarioFormViewModel

@{
    ViewData["Title"] = "Perfil de Usuário";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Permissoes" class="form-horizontal jumbotron">
    <fieldset>

        <div class="col-lg-10">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Nome):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome) @Html.DisplayFor(model => model.Usuario.SobreNome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Email):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Usuario.Email)
                </dd>

                <dt>
                    Perfil:
                </dt>
                <dd>
                    @foreach (var item in Model.Roles)
                    {
                        @if (Model.ExisteRoles(@item.Name))
                        {
                            <label>
                                <input type="checkbox" name="listaRoles" value="@item.Name" checked="checked" /> @item.Name
                            </label>
                        }
                        else
                        {
                            <label>
                                <input type="checkbox" name="listaRoles" value="@item.Name" /> @item.Name
                            </label>
                        }
                        <br />
                    }
                </dd>
            </dl>
        </div>


        <div class="form-group">
            <div class="text-right">
                <div class="col-lg-12 control-label">
                    <a asp-action="Index" class="btn btn-default btn-sm">Voltar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </div>

    </fieldset>






</form>