@model SiacWeb.Models.ViewModels.UsuarioFormViewModel

@{
    ViewData["Title"] = "Perfil de Usuário";
}

<h2>@ViewData["Title"]</h2>

<div class="form-horizontal jumbotron">
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Nome):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome) @Html.DisplayFor(model => model.Usuario.SobreNome)
                </dd>

                <dt>
                    Perfil:
                </dt>
                <dd>

                </dd>
            </dl>
        </div>
    </div>
</div>


<div class="row">
    <div class="form-group">

        <div class="col-lg-2">
            <select asp-for="Usuario.Id" asp-items="@(new SelectList(Model.Roles,"Id", "Name"))" class="form-control input-sm" id="inputSmall" placeholder="Perfil"></select>
            <span asp-validation-for="Usuario.Id" class="text-danger"></span>
            <br />
            <a asp-action="Index" class="btn btn-default btn-sm">Voltar</a>
            <a asp-action="Incluir" class="btn btn-primary btn-sm" asp-route-id=@Model.Usuario.Id>Incluir</a>
        </div>

    </div>
</div>