@model SiacWeb.Models.ViewModels.UsuarioFormViewModel

@{
    ViewData["Title"] = "Perfil de Usuário";
}

<h2>@ViewData["Title"]</h2>

<div class="form-horizontal jumbotron">
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Nome):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome) @Html.DisplayFor(model => model.Usuario.SobreNome)
                </dd>

                <dt>
                    Perfil:
                </dt>
                <dd>

                </dd>
            </dl>
        </div>
    </div>
</div>

<form asp-action="PermissoesPost">
    <div class="row">
        <div class="form-group">

            <div class="col-lg-2">
                <select asp-for="Usuario.Id" asp-items="@(new SelectList(Model.Roles, "Id", "Name"))" name="role" class="form-control input-sm" id="inputSmall" placeholder="Perfil"></select>
                <span asp-validation-for="Usuario.Id" class="text-danger"></span>
                <br />
                <a asp-action="Index" class="btn btn-default btn-sm">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm">
            </div>

        </div>
    </div>
</form>