@model SiacWeb.Models.ViewModels.ProdutoFormViewModel

@{
    ViewData["Title"] = "Produto";
}

<h2>@ViewData["Title"]</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Produto.Id):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Produto.Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Produto.Descricao):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Produto.Descricao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Produto.Referencia):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Produto.Referencia)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Produto.Caracteristicas):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Produto.Caracteristicas)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Produto.Detalhe):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Produto.Detalhe)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Produto.Marca):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Produto.Marca)
                    </dd>

                </dl>
            </div>
        </div>

        <div class="form-group">
            <div class="text-right">
                <a asp-action="Index" class="btn btn-default btn-sm">Voltar</a>
                <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model.Produto.Id">Alterar</a>
            </div>
        </div>

    </div>
</div>