@model IEnumerable<SiacWeb.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h2>@ViewData["Title"]</h2>

@(await Html.PartialAsync("_IndexTopPartial"))

<table class="table table-striped">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    <div class="text-right">
                        <a asp-action="Details" class="btn btn-success btn-xs" asp-route-id=@item.Id>Código de Barras</a>
                        @(await Html.PartialAsync("_IndexGridPartial", @ViewData["Id"] = @item.Id))
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@(await Html.PartialAsync("_IndexBottomPartial", Model))